/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-mar-2018, 11:31:21
    Author     : user
*/

#content {
    height: 800px;
}

#logo-foto {
    width: 55%;
    margin-top: -1%;
}

.color-usuario {
    background-color: #d0732a!important;
}

nav{
    background-color: white;
    /*background-color: #eeeeee !important;*/
}

.top-icons {
    color: #d0732a;
}

.search-out-text {
    color: #d0732a;
    border-bottom: 1px solid #d0732a !important;
}

.search-out input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #d0732a !important; 
    box-shadow:none;
}

.btn-floating {
    background-color: #d0732a;
}

/*Animación al cargar*/
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7b3e8c!important;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */

    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7b3e8c!important;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */

    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #d0732a!important;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */

    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

footer.page-footer {
    background-color: #d0732a!important;
    padding-top: 0px;
}